
	#list, #header, #requestForm, #services { display: inline-flex; }

	p { text-size: 18px; }
	
	#services { float: right; }
	
	#header { background-color: Orange; }
	
	#requestForm {
		font-family: Comic Sans MS;
		text-size: 20px;
		text-align: center;
	}
	
	div {
		border: 3px solid purple;
	}
	
	#services { margin: auto; }