html {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  background-color: #7EC855;
  font-family: sans-serif;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.invalidMessage
{
	color: red;
	font-size: 12px;
	font-style: bold;
	font-style: italic;
	
}

span.field
{
    display: inline-block;
}

span.required:before
{
    content: "*";
    color: red;
}

span.field input.state
{
    width: 48px;
}

span.field input.zip
{
    width: 72px;
}

span.field input.month
{
    width: 28px;
}

span.field input.year
{
    width: 28px;
}

#shipping
{
	display: none;
}

form
{
    position: relative;
    display: inline-block;
}

form div
{
	display: inlin-block;
}